argon2-cffi-bindings==21.2.0 ; python_version >= "3.11" and python_version < "4.0"
argon2-cffi==23.1.0 ; python_version >= "3.11" and python_version < "4.0"
certifi==2024.7.4 ; python_version >= "3.11" and python_version < "4.0"
cffi==1.16.0 ; python_version >= "3.11" and python_version < "4.0"
grpcio-tools==1.65.1 ; python_version >= "3.11" and python_version < "4.0"
grpcio==1.65.1 ; python_version >= "3.11" and python_version < "4.0"
minio==7.2.7 ; python_version >= "3.11" and python_version < "4.0"
protobuf==5.27.2 ; python_version >= "3.11" and python_version < "4.0"
pycparser==2.22 ; python_version >= "3.11" and python_version < "4.0"
pycryptodome==3.20.0 ; python_version >= "3.11" and python_version < "4.0"
setuptools==71.1.0 ; python_version >= "3.11" and python_version < "4.0"
typing-extensions==4.12.2 ; python_version >= "3.11" and python_version < "4.0"
urllib3==2.2.2 ; python_version >= "3.11" and python_version < "4.0"
